* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}
.header {
  background-color: black;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 0;
  height: 40px;
  z-index: 3;
}

.customer {
  display: flex;

  position: absolute;
}
.service {
  height: 80px;
  position: fixed;
  z-index: 4;
  cursor: pointer;
  right: 10px;
  bottom: 50px;
}

.customerservice {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 550px;
  right: 40px;
  bottom: 100px;

  font-family: helvetica;
  text-align: center;
  z-index: 4;
  display: none;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  from {
    width: 0%;
    height: 0%;
    right: 40px;
  }
  to {
    width: 400px;
    height: 550px;
  }
}

.returnup {
  position: fixed;
  z-index: 5;
  bottom: 50px;
  left: 50px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.title {
  background-image: linear-gradient(#51a9ee, #147bcd);
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.title a {
  text-decoration: none;
  color: white;
}
.fa-apple {
  padding-right: 10px;
  margin-bottom: 10px;
  color: white;
}

.navigator {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
}

.tab {
  margin-right: 10px;
  color: white;
  font-family: helvetica;
}

.tab a {
  text-decoration: none !important;
  color: white;
  transition: ease-in 0.3s;
}

.tab a:hover {
  cursor: pointer;
  color: gold;
}

.icon {
  padding-left: 20px;
}

.separator {
  background-color: grey;
  height: 50px;
}

.content {
  padding-top: 60px;
  background: black;
  height: auto;
}

.homepagevideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}
.videotitle {
  font-size: 80px;
  z-index: 4;
  font-family: "sf pro display";

  background: linear-gradient(to right, white 5%, gold 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 60px;
  animation: flow 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes flow {
  0% {
    background-size: 0%;
  }

  50% {
    background-size: 50%;
  }
 
  100% {
    background-size: 100%;
  }
}

.iphonevideo {
  padding-top: 80px;
  height: 700px;
  width: 1700px;
  background: black;
}

.hoveriphone {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  animation: fade-in 1s;
  padding-top: 150px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.descript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: helvetica;
}

.ip14procontainer {
  padding-top: 100px;
  background-color: #161617;
}

.ipcontent {
  align-items: center;
  display: flex;
  justify-content: center;
}
.iphone14dp {
  padding-top: 50px;
}

.homepage2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  font-family: helvetica;
  padding-bottom: 70px;
  align-items: center;
}
.homepagelink {
  display: flex;

  text-align: center;
  padding-top: 30px;
  font-family: helvetica;
  padding-bottom: 70px;
  align-items: center;
}
.homepageimg {
  padding-top: 100px;
}

.buy {
  font-size: 17px;
  background-color: #0071e3;
  padding: 8px 16px;

  border-radius: 980px;

  font-family: helvetica;
}

.learnmore {
  font-size: 17px;
  background-color: #0071e3;
  padding: 8px 16px;
  margin-left: 30px;
  border-radius: 980px;
  font-family: helvetica;
}
.learnmore a {
  text-decoration: none;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(6, 400px);
  gap: 20px;
  justify-content: center;
  background-color: #28282b;
  margin-top: 50px;
  padding-top: 100px;
}

.grid-item {
  border: 1px solid black;

  border-radius: 10px;
}

.box1 {
  grid-row: 1/3;
  grid-column: 1/3;
  background-color: black;
  background-image: url(DynamicIsland.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  background-size: 75%;
}

.box1 h1 {
  text-align: center;
  background: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 40px;
  font-family: helvetica;
  font-size: 50px;
}

.box2 {
  background-color: black;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100%;
  background-image: url(maincamera.jpg);
}

.box2 h1 {
  color: #cecece;
  padding-top: 330px;
  font-family: helvetica;
  font-size: 30px;
  line-height: 30px;
  padding-left: 10px;
}

.box3 {
  background-color: black;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 400px;
  background-size: 70%;
  background-image: url(chipset.jpg);
}

.box3 h1 {
  text-align: center;
  background: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 10px;
  font-family: helvetica;
  font-size: 40px;
}

.box4 {
  background-color: black;
  padding-top: 30px;
}

.box4 h2 {
  text-align: center;
  background: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: helvetica;
  font-size: 30px;
}

.box4 h1 {
  text-align: center;
  background: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 50px;
  font-family: helvetica;
  font-size: 80px;
}

.box5 {
  background-size: cover;
  background-repeat: no-repeat;

  background-size: 100%;
  background-image: url(provideo.jpg);

  width: 722px;
}

.box5 h3 {
  text-align: center;
  color: #cecece;
  font-family: helvetica;
  font-size: 30px;
  margin-top: 267px;
}
.box5 h1 {
  text-align: center;
  color: #cecece;
  font-family: helvetica;
  font-size: 40px;
}

.box6 {
  grid-row: 4/6;
  height: 660px;
  border: black 2px solid;
}
.box6 video {
  padding: 10px;
  object-fit: cover;
  background-color: black;
}

.box7 {
  grid-column: 2/4;
  grid-row: 4/6;
  background-color: black;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 722px;
  height: 660px;
  background-size: 70%;
  background-image: url(display.jpg);
}

.box7 h1 {
  text-align: center;
  background: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  font-family: helvetica;
  font-size: 35px;
}
.box8 {
  grid-row: 6/8;
  grid-column: 1/3;
  height: 660px;
  width: 590px;
  margin-top: -160px;
  background-color: black;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 65%;
  background-image: url(screen.jpg);
}

.box8 h2 {
  text-align: center;
  color: white;
  padding-top: 20px;
  font-family: helvetica;
  font-size: 35px;
}

.box8 h1 {
  text-align: center;
  background: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 25px;
  font-family: helvetica;
  font-size: 35px;
}

.box9 {
  height: 320px;
  width: 430px;
  margin-top: 1100px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  background-image: url(bubbles.jpg);
  margin-left: -30px;
  animation: bubbles 2s ease-in-out infinite;
}

@keyframes bubbles {
  from {
    background-position: top;
  }
  to {
    background-position: auto;
  }
}

.box9 h1 {
  text-align: center;
  background: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 25px;
  font-family: helvetica;
  font-size: 60px;
}

.box10 {
  height: 320px;
  width: 430px;
  margin-top: 180px;
  background-color: black;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 80%;
  background-image: url(selfie.jpg);
  margin-left: -30px;
  animation: left 3s ease-in-out infinite;
}
@keyframes left {
  from {
    background-position: 400px;
  }
  to {
    background-position: auto;
  }
}

.box10 h1 {
  text-align: center;
  color: #cecece;
  padding-top: 25px;
  font-family: helvetica;
  font-size: 26px;
}

.box11 {
  margin-top: 100px;
  position: relative;
  display: flex;
  text-align: left;
  justify-content: left;
}

.box12 {
  grid-column: 2/4;
}

.buy a {
  text-decoration: none;
  color: white;
}

.commercial {
  padding-top: 50px;
  padding-left: 65px;
}

.iphonebig {
  padding-top: 50px;
  width: 1000px;
}

.iphone_container {
  background-color: black;
  position: relative;
  display: flex;
}

.commercial3 {
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 50px;
}

.big {
  background-color: #fffafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphonegif {
  display: flex;
  background-image: linear-gradient(to bottom, #28282b, black);
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.iphonetitle{
  color: #161617;
  z-index: 1;
  position: absolute;
  font-family: "SF Pro Display";
  text-align: center;
  font-size: 40px;
}

.iphonetitle h2{
  font-size: 20px;
  width: 500px;
  position: relative;
  margin: 0 auto;
  line-height: 25px;
  padding-top: 30px;
}

.iphonetitle h3{
  font-size: 20px;
  padding-top: 10px;
}

.iphonetitle a{
  text-decoration: none;
  color: #0066CC;
}



.iphone_container {
  display: flex;

  justify-content: center;
  align-items: center;
  padding-top: 60px;
  height: 1000px;
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footertext1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footertext {
  font-size: 17px;
  color: white;
  background-color: #0071e3;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 980px;
  margin-top: 40px;
  font-family: helvetica;
  margin-left: 10px;
}

.footertext a {
  text-decoration: none;
  color: white;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright a {
  text-decoration: none;
  color: black;
}

.cright {
  display: flex;
  gap: 15px;
}

@media (max-width: 1024px) {
  body {
    width: 1024px;
  }
  .header {
    justify-content: center;
  }
  .homepagevideo {
    width: 100% !important;
  }
  .videotitle {
    width: 1024px;
    text-align: center;
  }
  .iphonevideo {
    width: 1024px !important;
  }
  .content {
    width: 1024px !important;
    overflow: hidden;
  }

  .hoverimage {
    height: 400px !important;
  }

  .ip14procontainer {
    padding-top: 0px;
  }
  .container {
    width: 1024px;
  }
  
  .iphone_gif{
    width: 1024px !important;
  }
  .iphonetitle h1{
    font-size: 40px;
    
  }
  .descript {
    padding-top: 30px;
  }

  .homepageimg {
    width: 1024px;
    height: 400px;
    padding-top: 20px;
  }

  .grid-container {
    padding-top: 10px;
    width: 100%;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(6, 450px);
    gap: 20px;
  }

  .grid-item {
    width: 1024px;
  }
  .box1 {
    width: 80%;
  }
  .box2 {
    margin-left: -100px;
    width: 340px;
    height: 100%;
  }

  .box2 h1 {
    font-size: 20px;
  }
  .box3 {
    margin-left: -100px;
    width: 340px;
    background-size: 80%;
  }

  .box3 h1 {
    font-size: 35px;
  }
  .box4 {
    width: 240px !important;
  }
  .box4 h1 {
    font-size: 60px;
  }

  .box5 {
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
  }

  .box6 {
    width: 240px;
  }
  .box6 video {
    width: 240px !important;
  }
  .box7 {
    width: 430px;
    background-size: 120%;
    margin-left: 30px;
  }
  .box8 {
    width: 350px;
    margin-top: -250px;
  }
  .box9 {
    width: 320px;
    margin-top: 1160px;
    margin-left: -80px;
    background-size: 150%;
  }
  .box9 h1 {
    font-size: 35px;
  }

  .box10 {
    position: relative;
    right: 50px;
    margin-top: 90px;
    width: 320px;
  }

  .commercial3 {
    width: 1024px !important;
    padding: 0;
  }

  .commercial3 video {
    width: 1024px !important;
    height: 500px;
  }
  .iphonebig {
    width: 100%;
  }
  .iphone_gif {
    width: 100%;
  }
  .footer img {
    width: 100%;
  }
  .copyright {
    display: none;
  }
  .service {
    right: 5%;
  }

  .iphone14dp {
    width: 65%;
  }

  
}
