* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display: none;
  overflow-y: hidden;
}
.returnup{
  position: fixed;
  z-index: 5;
  bottom: 50px;
  left: 50px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.header {
  background-color: black;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 0;
  height: 40px;
  z-index: 3;
}

.separator {
  background-color: grey;
  height: 50px;
}

.customer {
  display: flex;

  position: absolute;
}
.service {
  height: 80px;
  position: fixed;
  z-index: 4;
  cursor: pointer;
  right: 10px;
  bottom: 50px;

}

.customerservice {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 550px;
  right: 40px;
  bottom: 100px;

  font-family: helvetica;
  text-align: center;
  z-index: 4;
  display: none;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  from {
    width: 0%;
    height: 0%;
    right: 40px;
  }
  to {
    width: 400px;
    height: 550px;
  }
}


.title {
  background-image: linear-gradient(#51a9ee, #147bcd);
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.title a {
  text-decoration: none;
  color: white;
}
.fa-apple {
  padding-right: 10px;
  margin-bottom: 10px;
  color: white;
}

.navigator {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
}

.tab {
  margin-right: 10px;
  color: white;
  font-family: helvetica;
}

.tab a {
  text-decoration: none !important;
  color: white;
  transition: ease-in 0.3s;
}

.tab a:hover {
  cursor: pointer;
  color: gold;
}
.cart a{
  color: gold;
}
.icon {
  padding-left: 20px;
}

.header1 {
  padding: 75px 0 0;
  width: 1410px;
  margin: 0 auto;

  color: black;
  font-size: 13px;
  font-family: "SF Pro Display";
}

.header2 {
  background-color: #f5f5f7;
  height: 500px;
  margin-top: 20px;
}

.headertitle {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 21px;
  font-family: "SF Pro Display";
}

.header_text {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;
}

.accheader {
  height: 480px;
}

.acctitle {
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 35px;
  margin: 30px 0 0;
}


#accessories {
  position: relative;
  width: 650px;
  height: 50px;
  border-radius: 10px;
  font-size: 21px;
  margin-top: 20px;
}

.iconcontainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px;
  
}

.icon {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
.ipicon {
  margin-left: 80px;
  margin-right: 80px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 40px;
}

.icontext {
  display: flex;
  position: relative;
  font-family: "SF Pro Display";
  align-items: center;
  margin-top: 20px;
}

.devicename1 {
  margin-left: 295px;
}

.devicename2 {
  margin-left: 255px;
}

.devicename3 {
  margin-left: 240px;
}

.devicename4 {
  margin-left: 215px;
}

.devicename5 {
  margin-left: 195px;
}

.icon_access {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_access img {
  border: 2px black solid;
  padding: 20px;
  border-radius: 100px;
  width: 150px;
}

.icon_access h1 {
  margin: 10px 0 0;
}
.first{
  margin: 50px auto 0;
  width: 80%;
}

.borderline {
  width: 80%;
  margin: 0 auto;
  height: 2px;
  
}

.featured_content {
  margin: 30px 0 0;
  font-family: "sf pro display";
  font-size: 20px;
  display: flex;
  justify-content: center;
}



.accessory_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  margin: 0 auto;
  padding-top: 20px;
 

 
}

.accessoryblock {
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  display: flex;

}

.accessory {
  position: relative;
  flex-direction: column;
  background-color: #f5f5f7;
  height: 500px;
  width: 399px;
  align-items: center;
  display: flex;
  padding-top: 30px;
  margin-left: 20px;
}



.accessory img {
  height: 300px;
  padding-top: 30px;
  
}

.yellow {
  position: absolute;
  display: block;
}
.green {
  position: absolute;
  display: none;
}
.iris {
  position: absolute;
  display: none;
}
.skyblue {
  position: absolute;
  display: none;
}
.price {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 310px;
  font-family: "sf pro display";
  font-size: 10px;
  line-height: 30px;
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 430px;
}
.buttonY {
  background-color: yellow;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.buttonG {
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.buttonI {
  background-color: #5d3fd3;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.buttonS {
  background-color: skyblue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.last{
  margin-right: 20px;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 70%;
  position: absolute;
  bottom: 0;
  transform: translateY(1100px);
  z-index: 5;
}

.accessoriestitle{
  font-family: sans-serif;
  padding-top: 150px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
 
}
.maincontainer {
  width: 1300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.accessoriescontent{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: hidden;
}

.accessorysecond {
  background-color: #f5f5f7;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 500px;
  flex-shrink: 0;
}

.accessorysecond img {
  height: 300px;
  padding-top: 30px;
}

.price2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "sf pro display";
  font-size: 10px;
  line-height: 30px;
}

.arrow2{
  position: flex;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  
  
}

.delivery{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 100px;
  font-family: helvetica;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  body{
    width: 1450px;
  }
  .iconcontainer {
    display: flex;
    flex-direction: column;
  }
  .icon_access img {
    border: 2px black solid;
    padding: 15px;
    border-radius: 100px;
    width: 100px;
  }
}
